body {
  background-color: var(--color-background);
  color: var(--color-text);
}

.container-fluid {
  width: 100%;
}

.container-fluid > main {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.presentation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.presentation > h1 {
  text-align: center;
  line-height: 1;
  font-size: 2rem;
}

.presentation > p {
  text-align: center;
}

.presentation-name,
.presentation-role {
  color: var(--color-primary);
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar > img{
  border-radius: 10px;
}