body {
  background-color: var(--color-background);
  color: var(--color-text);
}

.container-fluid {
  width: 100%;
}

.container-fluid > main {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 4rem;
  height: 100vh;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar > img{
  border-radius: 50%;
  border: 8px solid var(--color-primary);
}

.presentation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.presentation > h1 {
  text-align: center;
  line-height: 1;
  font-size: 2rem;
}

.presentation > p {
  text-align: center;
}

.presentation-name,
.presentation-role {
  color: var(--color-primary);
}
.social {
  display: flex;
  justify-content: center;
}

.social > ul {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.social > ul > li > a > i {
  font-size: 2rem;
}